@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Custom Scrollbar for specific containers */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 9999px;
        border: 1px solid #000;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #ff4500;
        /* alert color */
    }

    /* Firefox support */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #333 transparent;
    }
}

/* Global Scrollbar Theme */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
    /* void */
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
    border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff4500;
    /* alert */
}

/* Firefox Global */
html {
    scrollbar-width: thin;
    scrollbar-color: #333 #050505;
}